<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Add a software</title>
</head>
<body>
<h1 align="center">Add new software :</h1>
<br>
<br>
<table align="center" border="0" cellpadding="5" cellspacing="2">
    <thead>
    <tr>
        <th>Software name</th>
        <th>Software serial</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <form method="post" action="/software/addsoftware">
            <td><input type="text" name="softName" id="softName"></td>
            <td><input type="text" name="serial" id="serial"></td>
            <td><input type="submit" value="Add software"></td>
        </form>
    </tr>
    </tbody>
</table>
<br>
<br>
<p align="center">
    <a href="/">Start page</a>
</p>
</body>
</html>