<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Assign a software</title>
</head>
<body>
<h1 align="center">Assign software to employee :</h1>
<br>
<br>
<table align="center" border="0" cellpadding="5" cellspacing="2">
    <thead>
    <tr>
        <th>Employee</th>
        <th>Software</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <form method="post" action="/software/assignsoftware">
            <td><input type="text" name="softName" id="softName"></td>
            <td><div>
                <select class="form-control" id="dropDownList">
                    <option value="0">Select an employee</option>
                    <option th:each="employee : ${employees}" th:value="${employee.firstName+' '+employee.lastName}" th:text="${employee.firstName}"></option>
                </select>
                <input type=hidden name="${employee.id}" id="employeeId" value="${employee.id}">
            </div>
                </td>
            <td><input type="submit" value="Add software"></td>
        </form>
    </tr>
    </tbody>
</table>
<br>

<br>
<p align="center">
    <a href="/">Start page</a>
</p>
</body>
</html>