<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Software list</title>
</head>
<body>
<h1 align="center">Software :</h1>
<br>
<table align="center" border="1" cellpadding="5" cellspacing="2">
    <thead>
    <tr>
        <th>Software ID</th>
        <th>Software Name</th>
        <th>Assigned Employee</th>
        <th>Serial Number</th>
        <th>Available licenses</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="software : ${softList}">
        <td align="center" th:text="${software.id}"></td>
        <td th:text="${software.softName}"></td>
        <td><a th:href="|/employee/employee/${software.assignedTo}|"><span th:text="${software.assignedName}"></span></a></td>
        <td th:text="${software.serial}"></td>
        <td th:text="${software.freeLicense}"></td>
    </tr>
    </tbody>
</table>
<br>
<br>
<br>
<p align="center">
    <a href="/software/addsoftware">Add new software</a>
    &nbsp;
    &nbsp;
    |
    &nbsp;
    &nbsp;
    <a href="/software/assignsoftware">Assign software to employee</a>
</p>
<br>
<br>
<p align="center">
    <a href="/">Start page</a>
</p>

</body>
</html>