<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Departments list</title>
</head>
<body>
<h1 align="center">Departments :</h1>
<br>
<table align="center" border="1" cellpadding="5" cellspacing="2">
    <thead>
    <tr>
        <th>Department ID</th>
        <th>Department name</th>
        <th>Department code</th>
        <th>Persons work here</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="department : ${departments}">
        <td align="center" th:text="${department.id}">Department ID</td>
        <td th:text="${department.depName}">Department name</td>
        <td th:text="${department.depCode}">Department code</td>
        <td th:text="${department.working}">Work here</td>
    </tr>
    </tbody>
</table>
<br>
<br>
<br>
<p align="center">
    <a href="/department/adddepartment">Add new department</a>
</p>
<br>
<br>
<p align="center">
    <a href="/">Start page</a>
</p>
</body>
</html>